@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.HomePageWrapper {
    font-family: "Black Ops One";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(to top,rgba(203, 221, 0, 0),rgba(203, 221, 0, 0.3)), url('../assets/bgedit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.titleWrapper :not(span) {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 5px;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 45px;
    text-shadow: 0px 15px 5px #baad1f, 4px -1px 0 #633737, -1px 1px 0 #000, 1px 1px 0 #000;}

.titleSpan {
    align-items: center;
    font-size: 20px;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomePageWrapper p {
    color: white;
    width: 50%;
    min-width: 350px;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 150%;
   font-family: 'Archivo', sans-serif;
   text-shadow: 0px 0px 3px #f8f7e6, 1px -1px 0 #633737, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media only screen and (max-width: 1200px) {
    .HomePageWrapper h1 {
        font-size: 30px!important;
    }
  }
