.fitnessWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background:  linear-gradient(to top,rgba(203, 221, 0, 0),rgba(203, 221, 0, 0.3)), url('../../assets/hpbg.webp');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }

  .addButtonContainer {
    display: flex;
    justify-content: center;
  }

  .backButton {
    padding: 12px 0px;
    width: 30%;
    align-self: center;
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.backButton:hover {
    background: rgba(256,256,256,0.7);
    color: black;
    font-weight: 700;
    color: black;
}



  @media only screen and (min-width: 1200px) {
    .fitnessWrapper {
        flex-direction: row!important;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .addButtonContainer {
        flex: 0 0 80%!important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .addWorkoutButton {
    width: 90%;
    max-width: 680px;
    min-width: 200px;
    }
}


.addWorkoutButton {
    padding: 12px 0px;
    width: 30%;
    align-self: center;
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.addWorkoutButton:hover {
    background: rgba(256,256,256,0.7);
    color: black;
    font-weight: 700;
    color: black;
}

.addSetForm label {
    display: block;
}

.addSetForm input, .Select {
    display: block;
    width: 300px;
    margin-bottom: 7px;
}

.addSetForm input {
    padding: 10px;
}